# Lab 3 - Clustering
## Import packages
Pandas to work the data and matplotlib.pyplot for data visualization

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.cluster as cluster

ImportError: No module named 'cluster'

In [19]:
%matplotlib notebook
plt.style.use('ggplot')

### a.

In [20]:
iris = pd.read_csv("data/iris.csv")
iris = iris.drop( ' class ',axis=1)
iris.head(5)

   sepallength   sepalwidth   petallength   petalwidth
0          5.1          3.5           1.4          0.2
1          4.9          3.0           1.4          0.2
2          4.7          3.2           1.3          0.2
3          4.6          3.1           1.5          0.2
4          5.0          3.6           1.4          0.2

In [21]:
est = cluster.KMeans(n_clusters=2)
Y = pd.DataFrame(est.fit_predict(iris), columns=['cluster ID'])
Z = pd.DataFrame(est.cluster_centers_[Y['cluster ID']], 
                 columns=['centroid_x', 'centroid_y'])

NameError: name 'cluster' is not defined

In [ ]:
print (algae.shape)

In [ ]:
### c.

In [ ]:
print (algae.shape)

### d.
#### i.

In [ ]:
print (algae.dtypes , '\n')
print('The atribute seadon type is:',algae.season.dtype)

#### ii.

In [ ]:
algae.season.describe()

#### iii.

In [ ]:
print(algae.season.value_counts())
algae.season.value_counts().plot(kind='bar')

### e.
#### i.

In [ ]:
print('The atribute pH type is:',algae.pH.dtype)

#### ii.

In [ ]:
algae.pH.describe()

#### iii.

In [ ]:
print ('There is :',algae.pH.isnull().sum(),'missing value in the pH Serie')

#### vi.
histogram

In [ ]:
algae.pH.plot.hist()