# Lab 2 - Mining Association Rules
## Import packages
Pandas to work the data and matplotlib.pyplot for data visualization

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori

In [2]:
%matplotlib notebook

def verify_sup(x, custom_value):
    if x == custom_value:
        y = 1
    else:
        y = 0
    return y

## 1.
### a.

In [3]:
example = pd.read_csv("data/example.csv")
example.head(5)

   A  C    E
0  A  C    E
1  A  C    D
2  A  B  NaN
3  A  B  NaN
4  A  D  NaN

### b.

In [5]:
adult = pd.read_csv("data/adult.csv")
print (adult.shape)
adult.head(5)

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
names = []
for c in adult.columns:
    uni = adult[c].value_counts()
    if uni.get_value(uni.idxmax()) >= 16280:
        adult[c] = adult[c].apply(verify_sup, args=(uni.idxmax(),))
        names.append(uni.idxmax())
    else:
        adult = adult.drop(c,axis=1)
adult.columns = names
adult.head(5)

    Private   White   Male  0  0   United-States   <=50K
0         0       1      1  0  1               1       1
1         0       1      1  1  1               1       1
2         1       1      1  1  1               1       1
3         1       0      1  1  1               1       1
4         1       0      0  1  1               0       1

### c.

In [ ]:
print (algae.shape)

### d.
#### i.

In [ ]:
print (algae.dtypes , '\n')
print('The atribute seadon type is:',algae.season.dtype)

#### ii.

In [ ]:
algae.season.describe()

#### iii.

In [ ]:
print(algae.season.value_counts())
algae.season.value_counts().plot(kind='bar')

### e.
#### i.

In [ ]:
print('The atribute pH type is:',algae.pH.dtype)

#### ii.

In [ ]:
algae.pH.describe()

#### iii.

In [ ]:
print ('There is :',algae.pH.isnull().sum(),'missing value in the pH Serie')

#### vi.
histogram

In [ ]:
algae.pH.plot.hist()