## Import packages

In [1]:
install.packages("arules")
library(arules)

Installing package into ‘/home/martinho/R/x86_64-pc-linux-gnu-library/3.3’
(as ‘lib’ is unspecified)
Loading required package: Matrix

Attaching package: ‘arules’

The following objects are masked from ‘package:base’:

    abbreviate, write

In [2]:
install.packages("dplyr")

Installing package into ‘/home/martinho/R/x86_64-pc-linux-gnu-library/3.3’
(as ‘lib’ is unspecified)

In [3]:
install.packages("tidyverse")

Installing package into ‘/home/martinho/R/x86_64-pc-linux-gnu-library/3.3’
(as ‘lib’ is unspecified)
also installing the dependencies ‘rvest’, ‘xml2’

Warning message in install.packages("tidyverse"):
“installation of package ‘xml2’ had non-zero exit status”Warning message in install.packages("tidyverse"):
“installation of package ‘rvest’ had non-zero exit status”Warning message in install.packages("tidyverse"):
“installation of package ‘tidyverse’ had non-zero exit status”

In [40]:
discretize_all = function(table_d, type, n){
    for (i in 1:ncol(table_d)) {
        if (is.numeric(table_d[[i]])) {
            table_d[[i]]  =  discretize(table_d[[i]],  method  =  type,  categories  =  n, ordered=TRUE)
        }
    }
    print(summary(table_d))
    return(table_d);
}

#### Change directory

In [4]:
setwd("~/Documents/IST/SAD/lab2")

## 1. - example.csv e adult.csv
### a.

In [5]:
example = read.transactions("data/example.csv",format="basket", sep=",")

Warning message in readLines(file, encoding = encoding):
“incomplete final line found on 'data/example.csv'”

In [6]:
inspect(example);

     items
[1]  {A,C,E}
[2]  {A,C,E}
[3]  {A,C,D}
[4]  {A,B}
[5]  {A,B}
[6]  {A,D}
[7]  {B,C}
[8]  {B,E}
[9]  {A,D}
[10] {B,E}

In [7]:
is <- apriori(example, parameter = list(support= 0.2, target="frequent"))
inspect(is)

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
         NA    0.1    1 none FALSE            TRUE       5     0.2      1
 maxlen            target   ext
     10 frequent itemsets FALSE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 2

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[5 item(s), 10 transaction(s)] done [0.00s].
sorting and recoding items ... [5 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 done [0.00s].
writing ... [12 set(s)] done [0.00s].
creating S4 object  ... done [0.00s].
     items   support count
[1]  {D}     0.3     3
[2]  {E}     0.4     4
[3]  {B}     0.5     5
[4]  {C}     0.4     4
[5]  {A}     0.7     7
[6]  {A,D}   0.3     3
[7]  {B,E}   0.2     2
[8]  {C,E}   0.2     2
[9]  {A,E}   0.2     2
[10] {A,B}   0.2     2
[11] {A,C}   0.3     3
[12] {A,C,E} 0.2     2

### b.

In [8]:
adult = read.transactions("data/adult.csv",format="basket", sep=",")

Warning message in readLines(file, encoding = encoding):
“incomplete final line found on 'data/adult.csv'”Warning message in asMethod(object):
“removing duplicated items in transactions”

In [9]:
rules <- apriori(adult, parameter = list(supp = 0.5, conf = 0.9, target = "rules"))

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
        0.9    0.1    1 none FALSE            TRUE       5     0.5      1
 maxlen target   ext
     10  rules FALSE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 16281

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[22070 item(s), 32562 transaction(s)] done [0.05s].
sorting and recoding items ... [6 item(s)] done [0.01s].
creating transaction tree ... done [0.01s].
checking subsets of size 1 2 3 4 done [0.00s].
writing ... [27 rule(s)] done [0.00s].
creating S4 object  ... done [0.01s].

In [10]:
inspect(rules)

     lhs                              rhs             support   confidence
[1]  {}                            => {0}             0.9999693 0.9999693
[2]  {Male}                        => {0}             0.6691849 1.0000000
[3]  {Private}                     => {0}             0.6970088 1.0000000
[4]  {<=50K}                       => {0}             0.7591671 1.0000000
[5]  {White}                       => {United-States} 0.7868374 0.9210886
[6]  {White}                       => {0}             0.8542473 1.0000000
[7]  {United-States}               => {0}             0.8958295 1.0000000
[8]  {Male,White}                  => {United-States} 0.5421350 0.9206738
[9]  {Male,United-States}          => {White}         0.5421350 0.9058395
[10] {Male,White}                  => {0}             0.5888459 1.0000000
[11] {Male,United-States}          => {0}             0.5984890 1.0000000
[12] {<=50K,Private}               => {0}             0.5445919 1.0000000
[13] {Private,White}               => {United-States} 0.5444383 0.9136261
[14] {Private,White}               => {0}             0.5959093 1.0000000
[15] {Private,United-States}       => {0}             0.6183588 1.0000000
[16] {<=50K,White}                 => {United-States} 0.5809533 0.9139089
[17] {<=50K,White}                 => {0}             0.6356796 1.0000000
[18] {<=50K,United-States}         => {0}             0.6756035 1.0000000
[19] {United-States,White}         => {0}             0.7868374 1.0000000
[20] {0,White}                     => {United-States} 0.7868374 0.9210886
[21] {Male,United-States,White}    => {0}             0.5421350 1.0000000
[22] {0,Male,White}                => {United-States} 0.5421350 0.9206738
[23] {0,Male,United-States}        => {White}         0.5421350 0.9058395
[24] {Private,United-States,White} => {0}             0.5444383 1.0000000
[25] {0,Private,White}             => {United-States} 0.5444383 0.9136261
[26] {<=50K,United-States,White}   => {0}             0.5809533 1.0000000
[27] {<=50K,0,White}               => {United-States} 0.5809533 0.9139089
     lift     count
[1]  1.000000 32561
[2]  1.000031 21790
[3]  1.000031 22696
[4]  1.000031 24720
[5]  1.028196 25621
[6]  1.000031 27816
[7]  1.000031 29170
[8]  1.027733 17653
[9]  1.060395 17653
[10] 1.000031 19174
[11] 1.000031 19488
[12] 1.000031 17733
[13] 1.019866 17728
[14] 1.000031 19404
[15] 1.000031 20135
[16] 1.020182 18917
[17] 1.000031 20699
[18] 1.000031 21999
[19] 1.000031 25621
[20] 1.028196 25621
[21] 1.000031 17653
[22] 1.027733 17653
[23] 1.060395 17653
[24] 1.000031 17728
[25] 1.019866 17728
[26] 1.000031 18917
[27] 1.020182 18917

## 2. - vote.csv
### a.

In [30]:
vote=read.transactions("data/vote.csv",format="basket", sep=",")

Warning message in asMethod(object):
“removing duplicated items in transactions”

In [29]:
library(readr)
vote <-read_csv("data/vote.csv")

Parsed with column specification:
cols(
  `handicapped-infants` = col_character(),
  `water-project-cost-sharing` = col_character(),
  `adoption-of-the-budget-resolution` = col_character(),
  `physician-fee-freeze` = col_character(),
  `el-salvador-aid` = col_character(),
  `religious-groups-in-schools` = col_character(),
  `anti-satellite-test-ban` = col_character(),
  `aid-to-nicaraguan-contras` = col_character(),
  `mx-missile` = col_character(),
  immigration = col_character(),
  `synfuels-corporation-cutback` = col_character(),
  `education-spending` = col_character(),
  `superfund-right-to-sue` = col_character(),
  crime = col_character(),
  `duty-free-exports` = col_character(),
  `export-administration-act-south-africa` = col_character(),
  Class = col_character()
)

#### Este comando dá erro e é previsto dar erro, pelo menos é o que a stora diz no doc de apoio. Mas não percebo bem porque é que isso acontece

In [13]:
rules <-apriori(vote, parameter = list(supp = 0.5, conf = 0.9, target = "rules")

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: rules <-apriori(vote, parameter = list(supp = 0.5, conf = 0.9, target = "rules")
   ^

In [24]:
library(dplyr)
vote = mutate_if(vote, is.character, as.factor)
head(vote,n=5)

  handicapped-infants water-project-cost-sharing
1 n                   y
2 n                   y
3 ?                   y
4 n                   y
5 y                   y
  adoption-of-the-budget-resolution physician-fee-freeze el-salvador-aid
1 n                                 y                    y
2 n                                 y                    y
3 y                                 ?                    y
4 y                                 n                    ?
5 y                                 n                    y
  religious-groups-in-schools anti-satellite-test-ban aid-to-nicaraguan-contras
1 y                           n                       n
2 y                           n                       n
3 y                           n                       n
4 y                           n                       n
5 y                           n                       n
  mx-missile immigration synfuels-corporation-cutback education-spending
1 n          y           ?                            y
2 n          n           n                            y
3 n          n           y                            n
4 n          n           y                            n
5 n          n           y                            ?
  superfund-right-to-sue crime duty-free-exports
1 y                      y     n
2 y                      y     n
3 y                      y     n
4 y                      n     n
5 y                      y     y
  export-administration-act-south-africa Class
1 y                                      republican
2 ?                                      republican
3 n                                      democrat
4 y                                      democrat
5 y                                      democrat

In [55]:
rules <-apriori(vote, parameter = list(supp = 0.1, conf = 1,maxlen=100,target = "rules"))

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
          1    0.1    1 none FALSE            TRUE       5     0.1      1
 maxlen target   ext
    100  rules FALSE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 43

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[22 item(s), 436 transaction(s)] done [0.00s].
sorting and recoding items ... [5 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 4 done [0.00s].
writing ... [10 rule(s)] done [0.00s].
creating S4 object  ... done [0.00s].

### b.

In [76]:
inspect(tail(sort(rules,by="count"),3))

    lhs                 rhs support   confidence lift     count
[1] {?,democrat,n}   => {y} 0.3256881 1          1.004608 142
[2] {?,n,republican} => {y} 0.1353211 1          1.004608  59
[3] {?,republican,y} => {n} 0.1353211 1          1.006928  59

In [58]:
inspect(head(sort(rules, by="lift"),n=3))

    lhs                 rhs support   confidence lift     count
[1] {republican,y}   => {n} 0.3830275 1          1.006928 167
[2] {?,republican,y} => {n} 0.1353211 1          1.006928  59
[3] {democrat}       => {y} 0.6123853 1          1.004608 267

### c.

### d.

## 3. - supermarket.csv
### a.

In [43]:
supermarket <-read_csv("data/supermarket.csv")
head(supermarket,n=5)

Parsed with column specification:
cols(
  .default = col_character()
)
See spec(...) for full column specifications.

  department1 department2 department3 department4 department5 department6
1 ?           ?           ?           ?           ?           ?
2 t           ?           ?           ?           ?           ?
3 ?           ?           ?           ?           ?           ?
4 t           ?           ?           ?           ?           ?
5 ?           ?           ?           ?           ?           ?
  department7 department8 department9 'grocery misc' ⋯ department208
1 ?           ?           ?           ?              ⋯ ?
2 ?           ?           ?           ?              ⋯ ?
3 ?           ?           ?           ?              ⋯ ?
4 ?           ?           ?           ?              ⋯ ?
5 ?           ?           ?           ?              ⋯ ?
  department209 department210 department211 department212 department213
1 ?             ?             ?             ?             ?
2 ?             ?             ?             ?             ?
3 ?             ?             ?             ?             ?
4 ?             ?             ?             ?             ?
5 ?             ?             ?             ?             ?
  department214 department215 department216 total
1 ?             ?             ?             high
2 ?             ?             ?             low
3 ?             ?             ?             low
4 ?             ?             ?             low
5 ?             ?             ?             low

#### Aqui tambem é previsto dar erro, mas também não percebo bem porquê :o

In [36]:
rules <-apriori(supermarket, parameter = list(supp =0.9, conf = 1, maxlen=100, target = "rules"))

ERROR: Error in asMethod(object): column(s) 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217 not logical or a factor. Discretize the columns first.

In [37]:
supermarket = mutate_if(supermarket, is.character, as.factor)

In [38]:
rules <-apriori(supermarket, parameter = list(supp = 0.9, conf = 1, maxlen=10, target = "rules"))

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
          1    0.1    1 none FALSE            TRUE       5     0.9      1
 maxlen target   ext
     10  rules FALSE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 4164

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[340 item(s), 4627 transaction(s)] done [0.05s].
sorting and recoding items ... [166 item(s)] done [0.02s].
creating transaction tree ... done [0.01s].
checking subsets of size 1 2 3

Warning message in apriori(supermarket, parameter = list(supp = 0.9, conf = 1, maxlen = 10, :
“Mining stopped (time limit reached). Only patterns up to a length of 3 returned!”

 done [6.91s].
writing ... [1244278 rule(s)] done [0.12s].
creating S4 object  ... done [0.15s].

In [39]:
write(rules[1:10],"",sep="\n ", quote=TRUE)

"rules"
 "support"
 "confidence"
 "lift"
 "count"
"1"
 "{} => {department129=?}"
 1
 1
 1
 4627
"2"
 "{} => {department153=?}"
 1
 1
 1
 4627
"3"
 "{} => {department201=?}"
 1
 1
 1
 4627
"4"
 "{} => {department138=?}"
 1
 1
 1
 4627
"5"
 "{} => {department139=?}"
 1
 1
 1
 4627
"6"
 "{} => {department140=?}"
 1
 1
 1
 4627
"7"
 "{} => {department142=?}"
 1
 1
 1
 4627
"8"
 "{} => {department143=?}"
 1
 1
 1
 4627
"9"
 "{} => {department144=?}"
 1
 1
 1
 4627
"10"
 "{} => {department145=?}"
 1
 1
 1
 4627

### b.

### c.

## 4. - glass.csv
### a.

In [48]:
glass <-read_csv("data/glass.csv")
head(glass,n=5)

Parsed with column specification:
cols(
  RI = col_double(),
  Na = col_double(),
  Mg = col_double(),
  Al = col_double(),
  Si = col_double(),
  K = col_double(),
  Ca = col_double(),
  Ba = col_double(),
  Fe = col_double(),
  Type = col_character()
)

  RI      Na    Mg   Al   Si    K    Ca    Ba Fe   Type
1 1.51793 12.79 3.50 1.12 73.03 0.64  8.77 0  0.00 'build wind float'
2 1.51643 12.16 3.52 1.35 72.89 0.57  8.53 0  0.00 'vehic wind float'
3 1.51793 13.21 3.48 1.41 72.64 0.59  8.43 0  0.00 'build wind float'
4 1.51299 14.40 1.74 1.54 74.55 0.00  7.59 0  0.00 tableware
5 1.53393 12.30 0.00 1.00 70.16 0.12 16.19 0  0.24 'build wind non-float'

In [46]:
glass_d_int = discretize_all(glass, "interval",3)
class(glass_d_int)

           RI                Na                Mg                Al
 [1.51,1.52):151   [10.7,12.9): 58   [0.00,1.50): 46   [0.29,1.36):104
 [1.52,1.53): 56   [12.9,15.2):154   [1.50,2.99): 25   [1.36,2.43):100
 [1.53,1.53]:  7   [15.2,17.4]:  2   [2.99,4.49]:143   [2.43,3.50]: 10
           Si                K                   Ca                Ba
 [69.8,71.7): 16   [0.00,2.07):211   [ 5.43, 9.02):149   [0.00,1.05):198
 [71.7,73.5):187   [2.07,4.14):  1   [ 9.02,12.60): 58   [1.05,2.10): 13
 [73.5,75.4]: 11   [4.14,6.21]:  2   [12.60,16.19]:  7   [2.10,3.15]:  3
           Fe          Type
 [0.00,0.17):179   Length:214
 [0.17,0.34): 31   Class :character
 [0.34,0.51]:  4   Mode  :character

[1] "tbl_df"     "tbl"        "data.frame"

In [47]:
head(glass_d_int,n=5)

  RI          Na          Mg          Al          Si          K
1 [1.51,1.52) [10.7,12.9) [2.99,4.49] [0.29,1.36) [71.7,73.5) [0.00,2.07)
2 [1.51,1.52) [10.7,12.9) [2.99,4.49] [0.29,1.36) [71.7,73.5) [0.00,2.07)
3 [1.51,1.52) [12.9,15.2) [2.99,4.49] [1.36,2.43) [71.7,73.5) [0.00,2.07)
4 [1.51,1.52) [12.9,15.2) [1.50,2.99) [1.36,2.43) [73.5,75.4] [0.00,2.07)
5 [1.53,1.53] [10.7,12.9) [0.00,1.50) [0.29,1.36) [69.8,71.7) [0.00,2.07)
  Ca            Ba          Fe          Type
1 [ 5.43, 9.02) [0.00,1.05) [0.00,0.17) 'build wind float'
2 [ 5.43, 9.02) [0.00,1.05) [0.00,0.17) 'vehic wind float'
3 [ 5.43, 9.02) [0.00,1.05) [0.00,0.17) 'build wind float'
4 [ 5.43, 9.02) [0.00,1.05) [0.00,0.17) tableware
5 [12.60,16.19] [0.00,1.05) [0.17,0.34) 'build wind non-float'

In [49]:
glass_d_fr = discretize_all(glass, "frequency",3)

           RI               Na               Mg               Al
 [1.51,1.52):72   [10.7,13.0):74   [0.00,3.15):72   [0.29,1.26):72
 [1.52,1.52):71   [13.0,13.7):72   [3.15,3.57):71   [1.26,1.55):73
 [1.52,1.53]:71   [13.7,17.4]:68   [3.57,4.49]:71   [1.55,3.50]:69
           Si               K                 Ca               Ba
 [69.8,72.5):72   [0.00,0.35):73   [5.43, 8.40):72   0.00       :176
 [72.5,73.0):71   [0.35,0.60):74   [8.40, 8.95):72   [0.06,3.15]: 38
 [73.0,75.4]:71   [0.60,6.21]:67   [8.95,16.19]:70
           Fe          Type
 0.00       :144   Length:214
 [0.01,0.51]: 70   Class :character
                   Mode  :character

In [50]:
head(glass_d_fr,n=5)

  RI          Na          Mg          Al          Si          K
1 [1.52,1.52) [10.7,13.0) [3.15,3.57) [0.29,1.26) [73.0,75.4] [0.60,6.21]
2 [1.51,1.52) [10.7,13.0) [3.15,3.57) [1.26,1.55) [72.5,73.0) [0.35,0.60)
3 [1.52,1.52) [13.0,13.7) [3.15,3.57) [1.26,1.55) [72.5,73.0) [0.35,0.60)
4 [1.51,1.52) [13.7,17.4] [0.00,3.15) [1.26,1.55) [73.0,75.4] [0.00,0.35)
5 [1.52,1.53] [10.7,13.0) [0.00,3.15) [0.29,1.26) [69.8,72.5) [0.00,0.35)
  Ca           Ba   Fe          Type
1 [8.40, 8.95) 0.00 0.00        'build wind float'
2 [8.40, 8.95) 0.00 0.00        'vehic wind float'
3 [8.40, 8.95) 0.00 0.00        'build wind float'
4 [5.43, 8.40) 0.00 0.00        tableware
5 [8.95,16.19] 0.00 [0.01,0.51] 'build wind non-float'

In [ ]:
rules <-apriori(supermarket, parameter = list(supp = 0.9, conf = 1, maxlen=10, target = "rules"))