In [9]:
import pandas as pd 
import numpy as np 
% matplotlib inline
from matplotlib import pyplot as plt
from sklearn import preprocessing

In [10]:
path_to_data = '../data/affairs.csv'

data = pd.read_csv(path_to_data)
data.head(10)

,sex,age,ym,child,religious,education,occupation,rate,nbaffairs
0,male,37.0,10.00,no,3,18,7,4,0
1,female,27.0,4.00,no,4,14,6,4,0
2,female,32.0,15.00,yes,1,12,1,4,0
3,male,57.0,15.00,yes,5,18,6,5,0
4,male,22.0,0.75,no,2,17,6,3,0
5,female,32.0,1.50,no,2,17,5,5,0
6,female,22.0,0.75,no,2,12,1,3,0
7,male,57.0,15.00,yes,2,14,4,4,0
8,female,32.0,15.00,yes,4,16,1,2,0
9,male,22.0,1.50,no,4,14,4,5,0

In [11]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import classification_report
from sklearn import tree

from scipy.stats import randint

In [12]:
data = pd.read_csv(path_to_data)

data['child'] = data['child'].map({'no': 0, 'yes': 1}).astype(int)
data['sex']   = data['sex'].map({'male': 0, 'female': 1}).astype(int)

y = data['nbaffairs'].values
X = data.drop(['nbaffairs'], axis=1).values

data.head(10)

   sex   age     ym  child  religious  education  occupation  rate  nbaffairs
0    0  37.0  10.00      0          3         18           7     4          0
1    1  27.0   4.00      0          4         14           6     4          0
2    1  32.0  15.00      1          1         12           1     4          0
3    0  57.0  15.00      1          5         18           6     5          0
4    0  22.0   0.75      0          2         17           6     3          0
5    1  32.0   1.50      0          2         17           5     5          0
6    1  22.0   0.75      0          2         12           1     3          0
7    0  57.0  15.00      1          2         14           4     4          0
8    1  32.0  15.00      1          4         16           1     2          0
9    0  22.0   1.50      0          4         14           4     5          0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

## Grid Search

In [14]:
# Define the parameter space
parameter_space = [{'max_depth': [1,2,3,4,5], 'max_features': range(1, 8)}]

# Choose the classifier
classifier = tree.DecisionTreeClassifier()

# Select grid search with cross validation
grid_search = GridSearchCV(classifier, parameter_space, cv=5)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [1, 2, 3, 4, 5], 'max_features': range(1, 8)}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [15]:
grid_search.best_params_

{'max_depth': 3, 'max_features': 1}

In [16]:
grid_search.cv_results_['mean_test_score']

array([ 0.75      ,  0.75      ,  0.75      ,  0.75      ,  0.75      ,
        0.75      ,  0.75      ,  0.75      ,  0.75      ,  0.75      ,
        0.73666667,  0.74333333,  0.75      ,  0.75      ,  0.75333333,
        0.74333333,  0.74666667,  0.74666667,  0.74333333,  0.74      ,
        0.74      ,  0.74      ,  0.73      ,  0.73666667,  0.73333333,
        0.74333333,  0.73333333,  0.74666667,  0.72666667,  0.72      ,
        0.74      ,  0.71      ,  0.71666667,  0.70333333,  0.73666667])

In [18]:
grid_search.best_score_

0.7533333333333333

## Random Search